* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#loginContainer {
    position: absolute;
    top: 36%;
    padding: 20px 80px;
    align-self: center;
    text-align: center;
}

#un {
    margin-top: 10px;
    border-radius: 25px;
    padding: 2px 5px;
    text-align: center;
    font-size: large;
}

#un:focus {
    outline: none;
}

#loginBtn {
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    padding: 2px 10px;
    background-color: #579ffb;
    cursor: pointer;
}

#loginBtn:focus {
    outline: none;
}

#messages {
    padding: 10px;
    overflow: scroll;
}

/*form {
    background: #000;
    padding: 3px;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: 0.5%;
}

#login {
    position: relative;
}

form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}*/

.msg {
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
}

#msgForm {
    margin: 10px;
    display: flex;
    align-items: flex-end;
}

#m {
    height: 40px;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 40px;
    width: calc(100% - 55px);
    background-color: #dedfed;
}

#msgBtn {
    float: right;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #4870df;
    border-color: #4870df;
    margin-left: 12px;
}

#msgBtn:focus {
    outline: none;
}

#sendIcon {
    position: relative;
    top: 3%;
    left: -6%;
    padding: 0 0 0 1px;
    font-size: 22px;
}

#msgIconLetter {
    position: relative;
    top: 4%;
    left: 27%;
    font-size: 30px;
    color: white;
}

#m:focus {
    outline: none;
}

.msgIcon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
}

.msgBubble {
    max-width: 450px;
    border-radius: 15px;
    padding: 15px;
}

.msgBubble-left {
    background-color: #ececec;
    border-bottom-left-radius: 0;
}

.msgBubble-right {
    background-color: #579ffb;
    border-bottom-right-radius: 0;
    color: white;
}

.msgUser {
    font-weight: bold;
    font-size: 20;
}

.msgText {
    margin-top: 5px;
}

.sysMsg {
    font-weight: bold;
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 15px;
    padding: 0 10px;
    background-color: lightgray;
    color: gray;
    border-radius: 10px;
}