* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: 0.5%;
}

#login {
    position: relative;
}

form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

.msg{
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
}

.msgIcon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
}

.msgBubble{
    max-width: 450px;
    border-radius: 15px;
    padding: 15px;
}

.msgBubble-left{
    background-color: #ececec;
    border-bottom-left-radius: 0;
}

.msgBubble-right{
    background-color: #579ffb;
    border-bottom-right-radius: 0;
    color: white;
}

.msgUser{
    font-weight: bold;
    font-size: 20;
}

.msgText{
    margin-top: 5px;
}

.sysMsg{
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}