body {
    font: 13px Helvetica, Arial;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#loginContainer {
    text-align: center;
    margin: auto;
}

#loginContainer>h2 {
    margin-top: -10px;
}

#navWrapper {
    background-color: #2196f3 !important;
    flex-shrink: 0;
    display: none;
    margin-bottom: 10px;
    justify-content: space-between;
}

#navWrapper>p {
    margin-right: 20px;
}

#openNav {
    background-color: #2196f3 !important;
}

#openNav:focus {
    outline: none;
}

#un {
    margin-top: 10px;
    border-radius: 25px;
    padding: 2px 5px;
    text-align: center;
    font-size: large;
}

#un:focus {
    outline: none;
}

#loginBtn {
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    padding: 2px 10px;
    background-color: #2196f3;
    /*#579ffb;*/
    cursor: pointer;
}

#loginBtn:focus {
    outline: none;
}

#messages {
    padding: 10px;
    margin-top: auto;
    overflow: scroll;
}

/*form {
    background: #000;
    padding: 3px;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: 0.5%;
}

#login {
    position: relative;
}

form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}*/

.msg {
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
}

#msgForm {
    margin: 10px;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

#m {
    height: 40px;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 40px;
    width: calc(100% - 55px);
    background-color: #dedfed;
}

#msgBtn {
    float: right;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #2196f3;
    /*#4870df;*/
    border-color: #2196f3;
    /*#4870df;*/
    margin-left: 12px;
}

#msgBtn:focus {
    outline: none;
}

#sendIcon {
    position: relative;
    top: 3%;
    left: -6%;
    padding: 0 0 0 1px;
    font-size: 22px;
}

.UserIconLetter {
    position: relative;
    top: 4%;
    text-align: center;
    font-size: 30px;
    color: white;
}

.small-UserIconLetter {
    top: 0;
    font-size: 27px;
}

#m:focus {
    outline: none;
}

.UserIcon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
}

.small-UserIcon {
    width: 40px;
    height: 40px;
}

.msgBubble {
    max-width: 450px;
    border-radius: 15px;
    padding: 15px;
}

.msgBubble-left {
    background-color: #ececec;
    border-bottom-left-radius: 0;
}

.msgBubble-right {
    background-color: #2196f3;
    /*#4870df;*/
    /*#579ffb;*/
    border-bottom-right-radius: 0;
    color: white;
}

.msgUser {
    font-weight: bold;
    font-size: 20;
}

.msgText {
    margin-top: 5px;
}

.sysMsg {
    font-weight: bold;
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 15px;
    padding: 0 10px;
    background-color: lightgray;
    color: gray;
    border-radius: 10px;
    padding-bottom: 1.2px;
    font-style: italic;
}

#unAlert {
    position: absolute;
    top: 0px;
    width: calc(100% - 20px);
    margin: 10px;
}

#sidebarHeading {
    color: gray;
    padding-right: 0;
}

.userClient {
    display: flex;
    align-items: center;
}

.userClient>p {
    padding: 0 !important;
    width: auto !important;
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 450px) {
    .small-UserIcon {
        margin-left: 1px;
        margin-right: 3px;
    }
    #sidebarHeading{
        padding-left: 3px;
    }
}

@media only screen and (min-width: 451px) {
    .small-UserIcon {
        margin-left: 5px;
        margin-right: 7px;
    }
    #sidebarHeading{
        padding-left: 8px;
    }
}

@media only screen and (min-width: 600px) {
    .small-UserIcon {
        margin-left: 7px;
        margin-right: 7px;
    }
    #sidebarHeading{
        padding-left: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .small-UserIcon {
        margin-left: 10px;
        margin-right: 10px;
    }
    #sidebarHeading{
        padding-left: 13px;
    }
}

@media only screen and (min-width: 992px) {
    .small-UserIcon {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 1200px) {
    .small-UserIcon {
        margin-left: 15px;
        margin-right: 15px;
    }
    #sidebarHeading{
        padding-left: 18px;
    }
}